@inherits EgComponentBase

<div class="input-group">
	<div class="input-group-prepend">
		<button type="button" class="btn btn-secondary" @onclick="OnSearchButtonClickAsync">Search</button>
	</div>
	<input type="text" class="form-control grid-search-input"
		   placeholder="Search ..."
		   @bind-value="searchValue" @onkeyup="OnKeyUpAsync" @onclick:stopPropagation="true" />
	<div class="input-group-append">
		<button type="button" class="btn btn-secondary" @onclick="OnClearButtonClickAsync">Clear</button>
	</div>
</div>
