@page "/InputSet"
@using EgBlazorComponents.Form
@using EgBlazorComponents.Demo.Models

<div>
	EgInputSelectEnum component expects an enum type object as a parameter.
</div>
<div>
	<EditForm Model="wordModel">
		<EgInputSelectEnum @bind-Value="wordModel.Priority" class="custom-select" />
	</EditForm>
</div>

@code 
{
	private WordModel wordModel = new WordModel(Priority.High, "school");
}