@page "/Spinner"
@using EgBlazorComponents.Spinner

<h3>Table</h3>
	
@* Put the spinner on top so that it can cover all contents in the page. *@
<EgSpinner @ref="spinner" />

Message: @message
<button class="btn btn-primary" @onclick="OnShowSpinnerButtonClickAsync">Show Spinner</button>

@code
{
	private EgSpinner spinner;
	private string message = string.Empty;

	private async Task OnShowSpinnerButtonClickAsync()
	{
		await spinner.ShowAsync(async () =>
		{
			message = "You can now see the spinner.";
			await Task.Delay(2000);
			message = string.Empty;
		});
	}
}
