@page "/Spinner"
@using EgBlazorComponents.Spinner
	
@* Put the spinner on top so that it can cover all contents in the page. *@
<EgSpinner @ref="spinner" />

<div>
	Press the button below to show the spinner.
</div>
<div>
	<button class="btn btn-primary" @onclick="OnShowSpinnerButtonClickAsync">Show Spinner</button>
</div>

@code
{
	private EgSpinner spinner;

	private async Task OnShowSpinnerButtonClickAsync() => await spinner.ShowAsync(async () => await Task.Delay(2000));
}
