@page "/"

<h1>EgBlazor Components</h1>

<p>
	A collection of Blazor custom components.<br/>
	This package is intended for educational purposes for my colleagues who are new to Blazor world.
	Therefore, I tried to NOT reuse or wrap any 3rd party dependencies.<br/>
	And I also tried to make the implementation simple as possible as I can.<br/>
	Feel free to download and modify the package source from GitHub for the projects for you or your team.
</p>
<p>For components details, Please visit <a href="https://github.com/EugeneKim/EgBlazorComponents" target="_blank">my GitHub</a></p>
<p>Please email me if you have any questions or suggestions: <a href="mailto:eugene.kimley@gmail.com">Eugene Kim</a></p>